.navbar{
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 0%,rgba(64, 169, 255, 0) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #fff;
  font-size: 18Px;
  z-index: 1001;
}
.back{
  margin-right: 15rpx;
}